.user {
    width: fit-content;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 6px;
}
.user img {
    width: 35px;
    border: 1px solid #000;
    border-radius: 17.5px;
}
span {
    margin-left: 5px;
    font-size: 14pt;
}

.option-question{
    display: inline-block;
    width: 531px;
    min-height: 90px;
    cursor: pointer;
    background-color: #fff;
    font-size: 13pt;
    transition: all .5s linear;
}

.option-question:hover {
    border-color: #007bff;
    background-color: #bed0e4;
}

.alts {
    color: #000;
}

.col-md-3, .col-md-3 {
    padding: 20px 0px;
    text-align: center;
    font-size: 20pt;
    color: #fff;
    min-height: 90px;
}

.btn-iniciar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 79px;
    font-size: 24pt;
    position: absolute;
    top: 300px;
    left: calc(50% - 125px);
}

.correta {
    background-color: #48bd65 !important;
    transition: all .5s linear;
    pointer-events: none;
}

.errada {
    background-color: #c25a5a !important;
    transition: all .5s linear;
}

.desabilita-campo {
    pointer-events: none;
    display: inline-block;
    width: 531px;
    background-color: #a1a1a1;
}

.btn-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 200px;
    height: 60px;
    font-size: 14pt;
}